/*
  Variables defined in Figma, but not easily
  exportable via scripting.
*/
:root {
  --glide-core-effect-hovered: 0px 0px 2px 0px
    var(--glide-core-color-effect-color-elevation-hovered);
  --glide-core-effect-lifted: 0px 2px 8px 0px
    var(--glide-core-color-effect-color-elevation-lifted);
  --glide-core-effect-raised:
    0px 3px 1px 0px var(--glide-core-color-effect-color-elevation-raised-1),
    0px 3px 8px 0 var(--glide-core-color-effect-color-elevation-raised-2);
  --glide-core-effect-floating: 0px
    var(--glide-core-color-effect-position-elevation-floating-y)
    var(--glide-core-color-effect-blur-elevation-floating-blur)
    var(--glide-core-color-effect-color-elevation-floating);
}
