/*
  These variables are defined in Figma, but not
  easily exportable via scripting.
*/
:root {
  --glide-core-body-md-font-style: normal;
  --glide-core-body-md-line-height: normal;
  --glide-core-body-sm-font-variant: normal;
  --glide-core-body-sm-line-height: 1.3;
  --glide-core-body-xs-font-variant: normal;
  --glide-core-body-xs-line-height: 1.3;
  --glide-core-glow-sm: 0px 0px 2px 0px #2c97eee5;
  --glide-core-heading-xxs-font-style: normal;
  --glide-core-heading-xxs-font-variant: normal;
  --glide-core-heading-xxxs-font-style: normal;
  --glide-core-heading-xxxs-font-variant: normal;
  --glide-core-heading-xxxs-line-height: 1.7;
  --glide-core-effect-hovered: 0px 0px 2px 0px
    var(--glide-core-color-effect-color-elevation-hovered);
  --glide-core-effect-lifted: 0px 2px 8px 0px
    var(--glide-core-color-effect-color-elevation-lifted);
  --glide-core-effect-raised:
    0px 3px 1px 0px var(--glide-core-color-effect-color-elevation-raised-1),
    0px 3px 8px 0 var(--glide-core-color-effect-color-elevation-raised-2);
  --glide-core-effect-floating: 0px
    var(--glide-core-color-effect-position-elevation-floating-y)
    var(--glide-core-color-effect-blur-elevation-floating-blur)
    var(--glide-core-color-effect-color-elevation-floating);
  --glide-core-shadow-xl: 0px 4px 60px 0px
    var(--glide-core-color-effect-color-elevation-detail-panel);
}
