/* These variables are not yet defined in Figma */
:root {
  --glide-core-body-md-font-family: var(--glide-core-font-sans);
  --glide-core-body-md-font-size: 1rem;
  --glide-core-body-md-font-style: normal;
  --glide-core-body-md-font-weight: 400;
  --glide-core-body-md-line-height: normal;
  --glide-core-body-sm-font-family: var(--glide-core-font-sans);
  --glide-core-body-sm-font-size: 0.875rem;
  --glide-core-body-sm-font-variant: normal;
  --glide-core-body-sm-font-weight: 400;
  --glide-core-body-sm-line-height: 1.3;
  --glide-core-body-xs-font-family: var(--glide-core-font-sans);
  --glide-core-body-xs-font-size: 0.75rem;
  --glide-core-body-xs-font-variant: normal;
  --glide-core-body-xs-font-weight: 400;
  --glide-core-body-xs-line-height: 1.3;
  --glide-core-color-dark-blue: #054fb9;
  --glide-core-color-white: #ffffff;
  --glide-core-font-sans: 'Nunito';
  --glide-core-font-weight-bold: 700;
  --glide-core-font-weight-semi-bold: 600;
  --glide-core-glow-sm: 0px 0px 2px 0px #2c97eee5;
  --glide-core-heading-xs-font-size: 1.25rem;
  --glide-core-heading-xs-font-weight: var(--glide-core-font-weight-semi-bold);
  --glide-core-heading-xxs-font-family: var(--glide-core-font-sans);
  --glide-core-heading-xxs-font-size: 1rem;
  --glide-core-heading-xxs-font-style: normal;
  --glide-core-heading-xxs-font-variant: normal;
  --glide-core-heading-xxs-font-weight: var(--glide-core-font-weight-bold);
  --glide-core-heading-xxxs-font-family: var(--glide-core-font-sans);
  --glide-core-heading-xxxs-font-size: 0.875rem;
  --glide-core-heading-xxxs-font-style: normal;
  --glide-core-heading-xxxs-font-variant: normal;
  --glide-core-heading-xxxs-font-weight: var(--glide-core-font-weight-bold);
  --glide-core-heading-xxxs-line-height: 1.7;
  --glide-core-shadow-lg: var(--glide-core-effects-shadow-large-x)
    var(--glide-core-effects-shadow-large-y)
    var(--glide-core-effects-shadow-large-blur)
    var(--glide-core-effects-shadow-large-spread)
    var(--glide-core-effects-shadow-large-fill);
  --glide-core-shadow-sm: 0px 2.275px 8.342px 0px rgba(181, 181, 181, 0.25);
  --glide-core-shadow-xl: var(--glide-core-effects-shadow-xlarge-x)
    var(--glide-core-effects-shadow-xlarge-y)
    var(--glide-core-effects-shadow-xlarge-blur)
    var(--glide-core-effects-shadow-xlarge-spread)
    var(--glide-core-effects-shadow-xlarge-fill);
}
