.docs-story {
  & > div {
    padding: 0;
  }
}

/* The "name" column can get pretty long and wraps, making it hard to read.  */
.docblock-argstable-body tr td:first-of-type {
  white-space: nowrap;
}

html {
  .docs-story {
    background-color: var(--glide-core-surface-base-lightest);
  }
}
